.card {
  height: fit-content;
  width: 300px;
  position: relative;
  background: #1b1d2373;
  color: #fff;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  border-radius: 7px;
  margin: 20px;
  overflow: hidden;
}
.card > div {
  height: 240px;
  width: 100%;
  overflow: hidden;
}
.card .imgBox {
  position: relative;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(0, 0, 0, 1)),
    color-stop(0.35, rgba(0, 0, 0, 1)),
    color-stop(0.5, rgba(0, 0, 0, 1)),
    color-stop(0.65, rgba(0, 0, 0, 1)),
    color-stop(0.85, rgba(0, 0, 0, 0.6)),
    color-stop(1, rgba(0, 0, 0, 0))
  );
  filter: grayscale(10%);
  transition: 0.5s;
}
.card .imgBox img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.card .text {
  padding: 20px 20px 0 20px;
  mix-blend-mode: screen;
}
.card .text * {
  margin-bottom: 10px;
}
.card .text .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}
.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .stars {
  text-align: right;
  color: #d00000;
}
.summery {
  max-height: 100px;
  padding-right: 12px;
  width: 105%;
  overflow-y: auto;
  text-align: justify;
}

.trailer {
  position: absolute;
  color: #d00000;
  font-size: 4em;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: 0.5s;
}
.trailer:hover + .imgBox {
  opacity: 0.8;
}
.card:hover .trailer {
  visibility: visible;
  opacity: 0.9;
}
.card i {
  pointer-events: none;
}
.movieLink {
  transform: translateX(128px);
  color: #dba506;
  opacity: 0.7;
  font-size: 3em;
  margin: 0;
  transition: 0.5s;
}
.movieLink:hover {
  opacity: 1;
}

/* ############################# */

.youtube{
  display: none;
}
